@using GestorStock.Client.Pages.Obras
@inject IHttpServicio http
@inject NavigationManager navigationManager

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; background-color: rgba(10,10,10,.8);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="color:white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Title</h5>
                <button type="button" class="close;" style=" border-width:0px; background-color: #00000000;" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <FormObra obra="obras" onValidSubmit="Agregar" />

            </div>

        </div>
    </div>
</div>

@code {


    Obra obras = new Obra();

    private async Task Agregar()
    {
        ObraDTO obraDTO = new()
            {
                nombreObra = obras.nombreObra,
                direccion = obras.direccion,
                EstadoId = obras.EstadoId
            };

        var httpRespuesta = await http.Post<ObraDTO>("api/Obra", obraDTO); //post

        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage;
        }

        await OnClose.InvokeAsync(true);

    }


    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

}
