@using GestorStock.Client.Pages.pStock
@inject IHttpServicio http

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; background-color: rgba(10,10,10,.8);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="color:white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifcar Stock</h5>
                <button type="button" class="close;" style=" border-width:0px; background-color: #00000000;" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <FormStock stock="stock" onValidSubmit="Agregar" onCancel="@ModalCancel" />

            </div>

        </div>
    </div>
</div>
@code {

    Stock stock = new();
    string Mensaje = "";

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }
    [Parameter] public int stockid { get; set; }
    [Parameter] public int ItemId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await Mostrar();

    }

    private async Task Agregar()
    {
        var respuesta = await http.Put<Stock>($"api/Stock/{stockid}", stock);

        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }

        await OnClose.InvokeAsync(true);
    }

    private async Task Mostrar()
    {
        var respuesta = await http.Get<Stock>($"api/Stock/{stockid}");

        if (!respuesta.Error)
        {
            stock = respuesta.Respuesta;
        }
        else
        {
            Mensaje = await respuesta.ObtenerError();
        }

    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }


}

