@using GestorStock.Client.Pages.pStock
@inject IHttpServicio http

<div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="display:block; background-color: rgba(10,10,10,.8);">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="color:white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cargar Stock</h5>
                <button type="button" class="close;" style=" border-width:0px; background-color: #00000000;" data-dismiss="modal" aria-label="Close" @onclick="@ModalCancel">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <FormStock stock="stock" onValidSubmit="Agregar" onCancel="@ModalCancel"/>

            </div>

        </div>
    </div>
</div>
@code {

    private Stock stock = new();

    [Parameter]
    public EventCallback<bool> OnClose { get; set; }


    private async Task Agregar()
    {

    }

    private Task ModalCancel()
    {
        return OnClose.InvokeAsync(false);
    }

    private Task ModalOk()
    {
        return OnClose.InvokeAsync(true);
    }

}
