@page "/envios"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<PageTitle>Envios</PageTitle>

<h3>Envios</h3>

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"
	    <meta content="width=device-width, initial-scale=1" name="viewport"/>
		<link href="/css/Styles/EnviosStyles.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
	<div class="insquare">
		<div class="table-responsive rounded-3">
			<table class="table table-striped table-hover table-bordered text-center">
			<thead>
				<tr>
					<th>Inicio</th>
					<th>Origen</th>
					<th>Destino</th>
					<th>Solicitud</th>
					<th>Estado</th>
					<th>Remito</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr> 
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><i class='bx bx-trash trash-button table-button'></i> </td>

				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><i class='bx bx-trash trash-button table-button'></i> </td>

				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td><i class='bx bx-trash trash-button table-button'></i> </td>

				</tr>
			</tbody>
			</table>
		</div>
	</div>
	</body>
</html>


@code {

}
