@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

<PageTitle>Index</PageTitle>

<h1>Gestor de Stock</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
