@page "/Index"

@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize]

@using Modals

<PageTitle>Index</PageTitle>

<div class="insquare-header">

    <h2 class="bienvenido">Bienvenido</h2>

</div>


<head>

    <meta charset="utf-8" />
    <title>Gestion de stock</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/Styles/IndexStyles.css" rel="stylesheet" type="text/css" />

</head>

<body class="body">


    <div class="insquare">


        <div class="infoIndex">

            <p>
                <i class='bx bxs-factory'></i> Busca, agrega, modifica y elimina obras
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <i class="fa-solid fa-warehouse fa-2xs"></i> Busca, agrega, modifica y elimina Depositos
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <i class='bx bx-purchase-tag-alt'></i> Busca, agrega, modifica y elimina Productos
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <i class='bx bx-package'></i> Busca, agrega, modifica y elimina stock
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <i class='bx bx-envelope'></i> Revisa las solicitudes de productos realizadas por distintas obras
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <i class='bx bxs-truck'></i> Observar los distintos envios de productos entre obras y/o la sede central
            </p>

        </div>

    </div>

</body>



@code {

}