@page "/index"

<PageTitle>Index</PageTitle>

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <title>Gestion de stock</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/Styles/IndexStyles.css" rel="stylesheet" type="text/css" />

</head>

<body class="body">

    <div class="insquare">

        <div class="infoIndex">

            <p>
                <span class="oi oi-box" aria-hidden="true"></span> Busca, agrega, modifica y busca stock
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <span class="oi oi-project" aria-hidden="true"></span> Busca, agrega, modifica y elimina el stock de distintas obras
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <span class="oi oi-inbox" aria-hidden="true"></span> Revisa las distintas solicitudes de productos realizadas por distintas obras
            </p>

        </div>

        <div class="infoIndex">

            <p>
                <span class="oi oi-truck" aria-hidden="true"></span>Observar los distintos envios de productos entre obras y/o la sede central
            </p>

        </div>

    </div>

</body>

</html>

ºº