@page "/registro"
@using GestorStock.BD.Data.Entity;
@inject HttpClient Http
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<PageTitle>Registro</PageTitle>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
</head>
<body>
	<div>
        @*<form>
            <input @bind="nombre" placeholder="Nombre"/>
            <input @bind="nombreUsuario" placeholder="Nombre de usuario"/>
            <input @bind="correo" placeholder="Correo eletrónico"/>
            <input type="password" @bind="contrasena" placeholder="Contraseña"/>
            <button @onclick="AddItem">Registrarse</button>
        </form>*@
    </div>
</body>
</html>

@code {
    private string nombre;
    private string nombreUsuario;
    private string correo;
    private string contrasena;

    //private async Task AddItem()
    //{
    //    var addItem = new Usuario { nombre = nombre, nombreUsuario = nombreUsuario, correo = correo, contrasena = contrasena, idRol = 2};
    //    await Http.PostAsJsonAsync("api/TodoItems", addItem);
    //}
}