@page "/solicitudes"

<PageTitle>Solicitudes</PageTitle>

<h3>Solicitudes</h3>

<!DOCTYPE HTML>

<html>

<head>

<meta charset="utf-8"
<link href="/css/Styles/SolicitudesStyles.css" rel="stylesheet" type="text/css"

</head>

<body>

<div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>

</div>

</body>

</html>

@code {

}
