@page "/stock"

@using Modals

<PageTitle>Stock</PageTitle>

<h3>Stock</h3>
<!DOCTYPE HTML>

<html>

<head>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/Styles/StockStyles.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Deposito</th>
                    <th>Direccion</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="d-flex">

        <button type="button" class="botones"
        @onclick="() => OpenCargarDialog()">
            Cargar
        </button>
        <button type="button" class="botones"
        @onclick="() => OpenEliminarDialog()">
            Eliminar
        </button>
        <button type="button" class="botones"
        @onclick="() => OpenModificarDialog()">
            Modificar
        </button>

    </div>

    @if (CargarDialogOpen)
    {
        <GestorStock.Client.Pages.Modals.ModalCargar Title="Cargar stock"
                                                     Text=""
                                                     OnClose="@OnCargarDialogClose">
        </GestorStock.Client.Pages.Modals.ModalCargar>
    }

    @if (EliminarDialogOpen)
    {
        <GestorStock.Client.Pages.Modals.ModalTextOnly Title="Eliminar"
                                                     Text=""
                                                     OnClose="@OnEliminarDialogClose">
        </GestorStock.Client.Pages.Modals.ModalTextOnly>
    }

    @if (ModificarDialogOpen)
    {
        <GestorStock.Client.Pages.Modals.ModalTextOnly Title="Modificar stock"
                                                     Text=""
                                                     OnClose="@OnModificarDialogClose">
        </GestorStock.Client.Pages.Modals.ModalTextOnly>
    }
    

</body>

</html>

@code {

    public bool CargarDialogOpen { get; set; }

    public bool EliminarDialogOpen { get; set; }

    public bool ModificarDialogOpen { get; set; }

    private void OpenCargarDialog()
    {
        CargarDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnCargarDialogClose(bool accepted)
    {
        CargarDialogOpen = false;
        StateHasChanged();
    }

    private void OpenEliminarDialog()
    {
        EliminarDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnEliminarDialogClose(bool accepted)
    {
        EliminarDialogOpen = false;
        StateHasChanged();
    }

    private void OpenModificarDialog()
    {
        ModificarDialogOpen = true;
        StateHasChanged();
    }

    private async Task OnModificarDialogClose(bool accepted)
    {
        ModificarDialogOpen = false;
        StateHasChanged();
    }

}
