@page "/stock"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]

<PageTitle>Stock</PageTitle>

<h3>Stock</h3>
<!DOCTYPE HTML>

<html>

<head>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/Styles/StockStyles.css" rel="stylesheet" type="text/css"/>

</head>

<body>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Deposito</th>
                    <th>Direccion</th>
                    <th>Unidad</th>
                    <th>Cantidad</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
    <div class="d-flex">
        
        <input type="submit" value="Cargar" class="botones" />
        <input type="submit" value="Eliminar" class="botones" />
        <input type="submit" value="Modificar" class="botones" />

    </div >
</body>




</html>


@code {

}
