@page "/Solicitudes"
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
@inject NavigationManager NavigationManager;

<PageTitle>Solicitudes</PageTitle>

<div class="insquare-header">


    <h2 class="solicitudes">Solicitudes</h2>

    <a class="btn btn-info botones" href="/Solicitudes/NuevaSolicitud">
        +
    </a>

</div>



    <head>

    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/css/Styles/SoliStyles.css?version=0.1" rel="stylesheet" type="text/css" />

    </head>

    



     <div class="insquare"> 

    <div class="cont-table">
        <div class="table-responsive">

            <table class="table">

                <thead id="table-headers">

                </thead>

                <tbody id="table-body">

                    <tr>
                        <td>1</td>
                        <td>Edificio</td>
                        <td>Pendiente</td>
                        <td> <button class="btn btn-info fw-bold button">Abrir</button></td>
                            <td> <i class='bx bx-trash trash-button'></i></td>
                    </tr>

                    <tr>
                        <td>2</td>
                        <td>Hotel</td>
                        <td>Pendiente</td>
                        <td> <button class="btn btn-info fw-bold button">Abrir</button></td>
                            <td> <i class='bx bx-trash trash-button' ></i></td>
                    </tr>

                    <tr>
                        <td>3</td>
                        <td>Colegio</td>
                        <td>Terminado</td>
                        <td> <button class="btn btn-info fw-bold button">Abrir</button></td>
                            <td> <i class='bx bx-trash trash-button' ></i></td>
                    </tr>

                
                    <tr>
                        <td>4</td>
                        <td>Canal</td>
                        <td>Terminado</td>
                        <td> <button class="btn btn-info fw-bold button">Abrir</button></td>
                            <td> <i class='bx bx-trash trash-button' ></i></td>
                    </tr>
                </tbody>

            </table>
        </div>

    </div>

    </div>



@*
<!DOCTYPE HTML>

<html>

<head>

<meta charset="utf-8"
<link href="/css/Styles/SolicitudesStyles.css" rel="stylesheet" type="text/css"

</head>

<body>

<div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>

</div>

</body>

</html>*@

@code {

}
