@page "/obras/agregar"
<h3>Agregar Obra</h3>
@inject NavigationManager navigationManager
@inject IHttpServicio http


<FormObra obra="obras" onValidSubmit="Agregar"/>








@code {
	Obra obras = new Obra();

	private async Task Agregar()
		{
		ObraDTO obraDTO = new()
		{
				nombreObra = obras.nombreObra,
				direccion = obras.direccion,
				EstadoId = obras.EstadoId
		};

		var httpRespuesta = await http.Post<ObraDTO>("api/Obra", obraDTO);

		navigationManager.NavigateTo("/obras");

	}

}
