@page "/obras/editar/{obraid:int}"
@inject IHttpServicio http
@inject NavigationManager navigationManager
<h3>EditarObra</h3>


<FormObra obra="obras" onValidSubmit="Agregar" onCancel="Cancelar" />

@code {
	private Obra obras = new();
	string Mensaje = "";

	[Parameter] public int obraid { get; set; }

	protected override async Task OnInitializedAsync()
		{
		await base.OnInitializedAsync();
		await Mostrar();

		}

	private async Task Agregar() //put
		{
		var respuesta = await http.Put<Obra>($"api/Obra/{obraid}",
		obras);

		if (respuesta.Error)
		{
			var body = respuesta.HttpResponseMessage;
		}

		navigationManager.NavigateTo("/obras");
	}






	private async Task Mostrar()
		{
		var respuesta = await http.Get<Obra>($"api/Obra/{obraid}");

		if (!respuesta.Error)
			{
			obras = respuesta.Respuesta;
			}
		else
			{
			Mensaje = await respuesta.ObtenerError();
			}

	}



	private async void Cancelar()
	{
		navigationManager.NavigateTo("/obras");
	}


	[Parameter] public int Itemid { get; set; }
}

}
