@inherits LayoutComponentBase

<body class="background">
<div class="page">


    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="align-items-center main">


            @Body


        </article>
    </main>
</div>
</body>