@inherits LayoutComponentBase

<link href="/MainLayout.razor.css" />

<div class="page">


    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="main">


            @Body


        </article>
    </main>
</div>
