@inherits LayoutComponentBase

<link rel="stylesheet" href="/MainLayout.razor.css?version=0.1" />

<div class="page">


    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="align-items-center main">


            @Body


        </article>
    </main>
</div>
