@inherits LayoutComponentBase

<link rel="stylesheet" href="/MainLayout.razor.css?version=0.1"/>

<div class="page">


    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

            @Body

@* 
        </article> *@
    </main>
</div>

@code{
    private async Task CerrarSesion()
    {
        //var autenticacionExt = (AutenticacionExtension)autenticacionProvider;
        //await autenticacionExt.ActualizarEstadoAutenticacion(null);
        // navManager.NavigateTo("/", true);
    }
}

