body {
   /* background-color: ;*/

}

.insquare {
    max-width: 1000px;
    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    display: block;
    margin-top: 10%;
    background-color: #341a5d63;
}

.infoIndex {
    color: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-size:25px;
}