body {
}

.center {
    display: block;
    margin: auto;
}

.newSolicitud {
    display: block;
    font-size: 32px;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: bold;
}

.insquare-header {

    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #341a5d63;
    padding: 10px 2%;
    margin-bottom: 1%;
    max-width: 300px;
    display: flex
}

.insquare {
    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #341a5d63;
    padding: 2%;
    display: flex;
}