body {
}

.header {
    margin-bottom: 20px;
    margin-top: 40px;
}

.edit-button {
    color: aqua;
    position: relative;
}

.obras {
    display: block;
    font-size: 32px;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: bold;
}

#table-headers {
    font-size: 18px;
    font-weight: bold;
    --bs-table-bg: #11101d;
    border-radius: 9px;
}

.table {
    --bs-table-hover-bg: rgb(255 255 255 / 5%);
    font-size:20px;
}

.trash-button {
    color: #ff0000;
    position: relative;
}

.table-button{

}

.insquare-header {
    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #341a5d63;
    padding: 10px 2%;
    margin-bottom: 1%;
    max-width: 250px;
    display: flex
}

.insquare {
    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #341a5d63;
    padding: 2%;
}
.botones {
    font-family: Roboto Mono;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    cursor: pointer;
    padding: 0px 25px;
    font-size: 30px;
}


.cont-botones {
    display:inline;
    width: auto;
}

th {
    background-color: rgb(0 0 0) !important;
}

.table > :not(caption) > * > * {
    background: inherit;
}

.table {
    --bs-table-hover-bg: rgb(255 255 255 / 5%);
}

tr:nth-child(4n+1),
tr:nth-child(4n+2) {
    --bs-table-bg: #0c0024;
    background-color: #0c0024 !important;
}


tr:nth-child(4n+3),
tr:nth-child(4n+4) {
    --bs-table-striped-bg: rgb(0 0 0);
    background-color: rgb(0 0 0) !important;
}

.table-button-cell,
.table-button-row td {
    display: none;
}

@media screen and (max-width: 500px) {


    .px-4 {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .px-4 {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }

    .table-button-cell,
    .table-button-row td {
        display: table-cell; 
        text-align: center; 
    }

    .table-button-row td,
    .table-button-cell {
        display: table-cell; 
        text-align: center;
    }

    .hide {
        display: none;
    }
}
