body {
}

td.disponible{
    color:lawngreen;
}

td.noDisponible {
    color:red;
}

td.indeterminado {
    color:gray;
}

.header {
    margin-bottom: 20px;
    margin-top: 40px;
}


.estado{
    color:lawngreen;
    
}

.stock {
    display: block;
    font-size: 32px;
    margin-block-start: auto;
    margin-block-end: auto;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-weight: bold;
}

#table-headers {
    font-size: 18px;
    font-weight: bold;
    --bs-table-bg: #11101d;
    border-radius: 9px;
}

.table {
    --bs-table-striped-bg: rgb(0 0 0);
    --bs-table-hover-bg: rgb(255 255 255 / 5%);
    --bs-table-bg: #0c0024;
}

.insquare-header {
    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #341a5d63;
    padding: 10px 2%;
    margin-bottom: 1%;
    max-width: 250px;
    display: flex
}


.insquare {
    object-fit: fill;
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    background-color: #341a5d63;
    padding: 2%;
}

.botones {
    font-family: Roboto Mono;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    cursor: pointer;
    padding: 0px 25px;
    font-size: 30px;
}

.trash-button {
    color: #ff0000;
    position: relative;
}

.edit-button {
    color: aqua;
    position: relative;
}

.cont-botones {
    display:inline;
    width: auto;
    
}

.th-cant {
    max-width: 50px;
}

.th-cod{
    max-width:50px;
}

@media screen and (max-width: 500px) {


    .px-4 {
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
