body {
    color: #333;
    background-color: #27476e;
    font-family: Roboto Mono;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    overflow: hidden;
  }
  
  .body {
    height: auto;
    min-height: auto;
    object-fit: fill;
    border-radius: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Roboto Mono;
    font-size: 20px;
  }
  
.hero-section {
    position: static;
  }

  .content-login {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }
  
  .container {
    max-width: 600px;
    object-fit: fill;
    background-color: #081830;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    
  }

  .heading {
    color: #eee;
    text-align: center;
    background-color: #3a29a8;
    border: 1.4px #2b1a9a;
    border-bottom: 0px;
    border-style: solid;
    border-radius: 16px 16px 0 0;
    margin-top: 0;
    font-size: 30px;
    font-weight: 500;
    line-height: 44px;
  }
  
  .nombre-usuario-txt {
    font-family: Roboto Mono;
    width: 90%;
    height: 38px;
    text-align: left;
    color: #eee;
    background-color: #103a7b;
    background-clip: border-box;
    border: 1px #103a7b;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
    font-weight: 400;
  }
  
  .form {
    margin-bottom:15px;
    margin-top: 50px;
  }
  
  .contrasena-txt {
    font-family: Roboto Mono;
    width: 90%;
    height: 38px;
    color: #eee;
    background-color: #103a7b;
    background-clip: border-box;
    border: 1px #103a7b;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    font-weight: 400;
  }
  
  .ingresar-btn {
    font-family: Roboto Mono;
    width: auto;
    background-color: #3a29a8;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 800;
    display: block;
    position: static;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 14px;
    padding: 9px 15px;
    font-size: 20px;
    font-weight: 500;
  }

  .page-content-wrapper {
    z-index: 3;
    margin-top: 180px;
    position: relative;
  }
  
  .bg-grad {
    z-index: 1;
    height: 100%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .div-block {
    overflow: visible;
  }
  
  .big-circle-left {
    width: 600px;
    height: 600px;
    filter: blur(150px);
    -webkit-text-fill-color: inherit;
    background-color: #081830;
    background-clip: border-box;
    border-radius: 100%;
    margin-top: -250px;
    margin-left: -250px;
    margin-right: 0;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto;
  }
  
  .big-circle-right {
    width: 600px;
    height: 600px;
    filter: blur(150px);
    -webkit-text-fill-color: inherit;
    background-color: #081830;
    background-clip: border-box;
    border-radius: 100%;
    margin-top: -250px;
    margin-left: 0;
    margin-right: -250px;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0%;
  }
  
  .div-block-2 {
    height: 300px;
    -webkit-text-fill-color: inherit;
    background-image: linear-gradient(#27476e, #0d6e83);
    background-clip: border-box;
    position: absolute;
    top: auto;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  @media screen and (max-width: 991px) {
    .body {
      object-fit: fill;
    }
  }
  
  @media screen and (max-width: 479px) {
    .body {
      height: auto;
    }
  
    .bg-grad {
      object-fit: cover;
    }
  }
  
  #w-node-_3f8d5194-1ed9-c777-5f64-56476fe590ed-2b2e3ebb {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }